[Unit]
Description=Centrunk P25 TRS Service (CONV)
After=syslog.target zerotier-one.service network.target

[Service]
User=root
Type=forking
ExecStart=/opt/centrunk/dvmhost -c /opt/centrunk/configs/configCONV1.yml
Restart=on-abnormal
TimeoutSec=0

[Install]
WantedBy=multi-user.target
