[Unit]
Description=Centrunk P25 TRS Service (DVRS)
After=syslog.target zerotier-one.service network.target

[Service]
User=root
Type=forking
ExecStart=/opt/centrunk/dvm/dvmhost -c /opt/centrunk/dvm/configDVRS1.yml
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
