[Unit]
Description=Centrunk P25 TRS Service (CC)
After=syslog.target zerotier-one.service network.target

[Service]
User=root
Type=forking
ExecStart=/opt/centrunk/dvm/dvmhost -c /opt/centrunk/dvm/configCC1.yml
Restart=on-abnormal
WorkingDirectory=/opt/centrunk/dvm
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
